:root {
  --tuGold: #ffbb00;
  --tuGraphite: #3c3c3c;
}
footer {
  width: 100dvw;
}
.tuFooter {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 100dvw;
  margin: 0px;
  color: white;
  padding: 25px 0px 5px 0px;
  font-size: 15pt;
  font-weight: 500;
}
.tuUpperFooter {
  display: flex;
  justify-content: space-around;
  width: 100dvw;
}

.tuFooterCenter {
  display: flex;
  justify-content: space-between;
  width: 30dvw;
}

.tuFooterRight {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.tuFooterRightText {
  line-height: normal;
}
.usmMessage {
  text-align: center;
  height: 40px;
  padding: 20px 0px;
}

@media screen and (max-width: 960px) {
  .tuUpperFooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10dvw;
    width: 80dvw;
  }
  .tuFooterRight,
  .tuFooterCenter,
  .tuFooterLeft {
    margin: 3px;
  }
  .tuFooterCenter {
    width: 75dvw;
  }
}
@media screen and (max-width: 720px) {
  .tuFooterCenter {
    max-width: 100dvw;
    margin-right: 5px;
  }
}
